* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.checkmark {
    color: #28BB25;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    position: relative;
}

.dark {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    position: absolute;
    height: 100%;
}

section {
    width: 100%;
    z-index: 0;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

header img {
    width: 75px;
    height: 53px;
}

header div {
    display: flex;
    justify-content: space-between;
    margin: 16px 22px 11px 22px;
}

header ion-icon {
    font-size: 42px;
}

header button {
    border: none;
    background-color: #ffffff;
}

main {
    background-color: #F3F3F3;
    margin-top: 106px;
    margin-bottom: 80px;
    overflow: scroll;
    width: 100%;
    height: 507px;
}

main p {
    font-size: 14px;
    padding: 15px 8px;
    margin-bottom: 4px;
    word-wrap: break-word;
    word-break: normal;
    line-height: 17px;
}

time {
    color: #aaaaaa;
}

b{
    font-weight: 700;
}

.private {
    background-color: #FFDEDE;
}

.status {
    background-color: #DCDCDC;
}

.normal {
    background-color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input {
    width: 80%;
    border: none;
    margin-left: 17px;
    color: #000000;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}

footer input:focus {
    box-shadow: none;
    outline: none;
}

footer input::placeholder {
    color: #000000;
}

footer ion-icon {
    font-size: 26px;
    text-align: center;
    margin-right: 27px;
}

footer button {
    border: none;
    background-color: #ffffff;
}

aside {
    z-index: 2;
    background-color: #ffffff;
    width: 70%;
    height: 100%;
    position: fixed;
    right: 0;
    overflow: scroll;
    padding-bottom: 28px;
}

.contacts {
    height: 84px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 28px 35px;
}

.visibility {
    height: 66px;
    font-weight: 700;
    font-size: 16px;
    line-height: 66px;
    text-align: center;
}

aside div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-wrap: break-word;
    word-break: normal;
}

aside ion-icon {
    padding: 12px 8px 6px 12px;
    font-size: 16px;
    width: 42px;
}

aside p {
    margin: 12px 8px 6px 0;
    width: 194px;
}